<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body class="bodyreg">
<form method="post">
    {%csrf_token%}
<div class="container-fluid">
<div class="row">
    <div class="col-6">
        <div style="color:white">
            <h1 style="font-size:70px;">SBK BANK</h1>
            <h5>YOUR PERFECT BANKING PARTNER</h5>
        </div>
        <div style="margin-left:15%;margin-top:50%;color:white;">
            <h2>Discover the next level</h2>
        <h1 style="margin-left:25%;color:white;font-size:40px;">in Online Banking</h1>
        </div>

    </div>
    <div class="col-6">

        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign Up</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                    <div class="login-space">
                        <div class="login">

                            <div class="group"> <label for="user" class="label">Username</label> {{form.username}} </div>
                            <div class="group"> <label for="pass" class="label">Email Address</label> {{form.email}} </div>
                            <div class="group"> <label for="pass" class="label">Password</label> {{form.password}} </div>
                            <div class="group"> <label for="user" class="label">Contact Number</label> {{form.phone}} </div>
                            <div class="group"> <label for="user" class="label">Age</label> {{form.age}} </div>
                            <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
<!--                            <div class="hr"></div>-->
                            <div class="foot" style="color:white"> <label for="tab-1"><a href="{%url 'login'%}">Already Member?</a></label> </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
        </form>
</body>
</html>






