<!DOCTYPE html>
<head>
    <title>SBK | History</title>
</head>

{% extends 'mybank/base.html' %}
{% block body_block %}

 {% if message in message%}
<div class="container">
    <h2 style="color:#94e3a9;">{{message}}</h2>
    <h5>To Create an Account Click Here &nbsp&nbsp<i class="fa fa-hand-o-right" aria-hidden="true">&nbsp</i><a style="color:blue" href="{%url 'account'%}">Create Account</a></h5>
</div>


{% else %}

<div class="container">
    <div class="row">
    <div class="col-12">
        <h3 style="text-align:center;background-color:#022a6b; color:white;">Transactions History</h3>

    </div>
</div>
</div>
<form action="" method="post">
<div class="container">
    <div class="row">
        <div class="col-6" style="text-align:right;">
             {%csrf_token%}
                {{form.as_p}}

        </div>
        <div class="col-6">
            <input type="submit" value="GO" class="btn btn-primary btn-sm">
            <a href="{%url 'transactionshistory'%}" class="btn btn-primary btn-sm">Refresh</a>
        </div>
    </div>
</div>
     </form>
<div class="container">
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="debit_trans">

<table class="table" style="color:black;">

    {%for transaction in dtransactions%}

    <tr>

        <td><i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:red;"></i></td>
        <td>
            <a href="#" data-toggle="modal" data-target="#getDebitDetail" onclick="getDebit({{transaction.id}})">SBK-OUT/{{transaction.date}}/{{transaction.to_accno}}/....</a></td>
        <td style="color:red;">-₹{{transaction.amount}}.00</td>


    </tr>

    {%endfor%}


    </table>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="credit_trans">

<table class="table" style="color: black;">

    {%for transaction in ctransactions%}
    <tr>
        <td><i class="fa fa-arrow-circle-down" aria-hidden="true" style="color:green;"></i></td>
        <td>
            <a href="#" data-toggle="modal" data-target="#getCreditDetail" onclick="getCredit({{transaction.id}})">SBK-IN/{{transaction.date}}/{{transaction.from_accno}}/....</a></td>

        <td style="color:green;">+₹{{transaction.amount}}.00</td>


    </tr>
    {%endfor%}
</table>
    </div>
</div>
    </div>
</div>
{% endif %}


<!-- Modal for debit transaction detail view-->
<div class="modal fade" id="getDebitDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #022a6b;">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color:white;">Transaction Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="debit">
        ...

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>


<!-- Modal for credit transaction detail view-->
<div class="modal fade" id="getCreditDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #022a6b;">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color:white;">Transaction Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="credit">
        ...

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>


        {% endblock %}