<!DOCTYPE html>
{% extends 'mybank/base.html' %}
{% block body_block %}

 {% if message in message%}
<div class="container">
    <h2 style="color:#94e3a9;">{{message}}</h2>
    <h5>To Create an Account Click Here &nbsp&nbsp<i class="fa fa-hand-o-right" aria-hidden="true">&nbsp</i><a style="color:blue" href="{%url 'account'%}">Create Account</a></h5>
</div>


{% else %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="debit_trans">
                <h3>Debit</h3>
<table class="table" style="color:red">

    {%for transaction in dtransactions%}
    <tr>

        <td>{{transaction.date}}</td>
        <td>{{transaction.to_accno}}</td>
        <td>{{transaction.amount}}</td>


    </tr>
    {%endfor%}


    </table>
            </div>
        </div>

        <div class="col-6">
            <div class="credit_trans">
                <h3>Credit</h3>
<table class="table" style="color: green;">

    {%for transaction in ctransactions%}
    <tr>

        <td>{{transaction.date}}</td>
        <td>{{transaction.to_accno}}</td>
        <td>{{transaction.amount}}</td>


    </tr>
    {%endfor%}
</table>
    </div>
</div>
    </div>
</div>
{% endif %}
        {% endblock %}